.container {
    padding: 18px;
    background: powderblue;
    width: 100%;
}

h2 {
    border-bottom: 2px solid paleturquoise;
}

.footnote {
    font-size: 12px;
    color: royalblue;
    padding: 18px;
    background: powderblue;
    margin: auto;
}