<h3 id="current-balance">Current Balance: £{{currentBalance}}</h3>
<input type="number" id="withdrawal" value="0" />
<button (click)="withdraw()" id="withdraw-button">Withdraw</button>
<table>
    <tr *ngFor="let withdrawal of withdrawals">
        <th>£{{withdrawal.amount}} withdrawn  -  </th>
        <td *ngFor="let note of withdrawal.notes">
            <p *ngIf="withdrawal.notes.length === 1"> £{{note}}</p>
            <p *ngIf="withdrawal.notes.length > 1"> £{{note}},</p>
        </td>
        <p> dispensed.</p>
    </tr>
</table>